body {
    background-color: #343446 !important;
    color: #fff !important;
}

a {
    color: #00b8ff !important;
}

pre {
    margin-bottom: 1.5em;
    background-color: #252532 !important;
    padding: 16px 0;
    border-radius: 16px;
    box-shadow: 6px 6px 12px #2c2c3c, -6px -6px 12px #3c3c51 !important;
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 20px;
    color: #00adff;
    line-height: 1.4em;
    font-size: 0.95em;
    font-weight: 500;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: #fbff00;
    font-weight: 600;
}

pre code .type {
    color: #f78484;
    font-weight: 600;
}

pre code .call {
    color: #8C1A11;
    font-weight: 600;
}

pre code .property {
    color: #377e7f;
}

pre code .number {
    color: #265abe;
}

pre code .string {
    color: #ca304e;
}

pre code .comment {
    color: #ffffff85;
}

pre code .dotAccess {
    color: #25292e;
}

pre code .preprocessing {
    color: #fd8f3f;
    font-weight: 600;
}
